<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
    ">

    <context:component-scan base-package="com.acbook" />
    <context:property-placeholder location="classpath*:acbook.properties" />

    <!-- 
        Application can't set URL property to H2-database of embedded mode.(It run as a in-memory mode)
        @see org.springframework.jdbc.datasource.embedded.H2EmbeddedDatabaseConfigurer#configureConnectionProperties
        >> So ACBook create H2-database connection manually in ACBookContext.
        
        H2-データベースのembedded modeでは、URLを外からSetできない(インメモリで起動してしまう)
        @see org.springframework.jdbc.datasource.embedded.H2EmbeddedDatabaseConfigurer#configureConnectionProperties
        >> よって、ACBookでは、ACBookContextの中で手動でH2-データベースのコネクションを生成することにした。
     -->
    <!-- DataSource -->
    <!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
    <!-- <property name="driverClassName" value="org.h2.Driver" /> -->
    <!-- <property name="url" value="jdbc:h2:~/h2/test" /> -->
    <!-- <property name="username" value="sa" /> -->
    <!-- <property name="password" value="" /> -->
    <!-- </bean> -->

</beans>